@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");


:root {
    --primary: #040517;
    --text-primary: #e5e5e5e7;
    --text-secondary: #f5f5f555;
    --scroll: rgb(32, 15, 86);
}

body {
    background-color: #16142e;
    font-family: "Monteserrat", sans-serif;
    margin-bottom: 5rem;
}

aside {
    min-width: 22%;
}

main {
    width: 75%;
}

.content__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.aside__container {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-right: 4rem;
}

.aside__profile {
    display: flex;
    align-items: center;
    padding: .5rem;
    justify-content: center;
    
}

.aside__name {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: .2rem;
}

.aside__edit {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 12px;
    color: var(--text-secondary);
    cursor: pointer;
}

.aside__edit svg {
    width: 10px;
}

.aside__profile-details {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.aside__img-container {
    margin-right: 1rem;
}

.aside__img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
}

.aside__profile-menu {
    background-color: transparent;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    display: none;
    cursor: pointer;

}

.aside__profile-menu div {
    background-color: var(--text-primary);
    width: 25px;
    height: 2px;
    border-radius: 3px;

}

.aside__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    margin-top: 8rem;
}

.aside__list-container, .aside__list-container2 {
    border-top: 1px solid #ececec11;
    padding: 1rem;
}

.aside__list-container li, .aside__list-container2 li {
    font-size: 12px;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .18s linear;
}

.aside__container li.active, .aside__container svg.active {
    color: var(--text-primary);
    stroke: var(--text-primary);
}

.aside__list-container li:hover, .aside__list-container2 li:hover {
    color: var(--text-primary) !important;
}

.aside__list-container li.active {
    color: var(--text-primary);
}

.aside__list-container svg, .aside__list-container2 svg {
    margin-right: .5rem;
    width: 16px;
    stroke: var(--text-secondary);

}

.menu__mobile-expand {
    position: absolute;
    width: 50%;
    height: 200vh;
    z-index: 1;
    background-color: var(--primary);
    padding-left: 1.5rem;
    margin-left: -.5rem;
    display: none;
}

.openCloseMenu {
    display: flex;
}

.mobile__expand-div {
    position: fixed;
    top: 20%;
    left: 5%;
    
}

.menu__close {
    position: sticky;
    top: 5%;
    left: 40%;
    margin-right: 1rem;
    cursor: pointer;
}

.nav__mobile-expand {
    margin-bottom: 2rem;
}

.nav__mobile-expand ul li, .nav__mobile-expand2 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--text-secondary);
}

.nav__mobile-expand ul li svg, .nav__mobile-expand2 ul li svg {
    margin-right: .5rem;
    stroke: var(--text-secondary);
}


@media (max-width: 950px) {

    .content__container {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .aside__container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 120px;
        margin-bottom: 1rem;
    }

    .aside__menu {
        display: none;
    }

    .aside__profile {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .aside__profile-details {
        height: 120px;
        margin-top: auto;
    }

    .aside__profile-menu {
        display: flex;
    }

}