.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 95%;
}

.details h4 {
    margin-bottom: 1rem;
}

.section__profile-views {
    width: 30%;
}

.views__album {
    display: flex;
    align-items: center;
}

.section__profile-views figure {
    margin-right: 1rem;
}

.section__profile-views img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.section__profile-views li {
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    transition: ease .4s;
}

.section__profile-views li:hover {
    opacity: 1;
}

.section__profile-views li span {
    font-size: 10px;
    color: var(--text-secondary);
}

.section__container {
    width: 50%;
    overflow-x: scroll;
}

.section__container::-webkit-scrollbar {
    background: #49349c11;
    height: 6px;
    border-radius: 6px;
}

.section__container::-webkit-scrollbar-thumb {
    background: var(--scroll);
    height: 6px;
    border-radius: 6px;
}

.section__container figure {
    width: 90px;
    height: 90px;
    margin-bottom: .5rem;
}

.section__container img {
    size: 90px;
    height: 90px;
    border-radius: 4px;
    object-fit: cover;
}

.section__tracks {
    display: flex;
}

.section__tracks div {
    margin-right: 3.5rem;
    opacity: .6;
    margin-bottom: 1rem;
}

.section__tracks div:hover {
    transition: ease .4s;
    opacity: 1;
}

.section__tracks p {
    font-size: 14px;
    color: var(--text-primary);
    font-weight: bold;
}

.section__tracks span {
    font-size: 12px;
    color: var(--text-secondary);
}